@font-face {
    font-family: apple;
    src: url(./sf-pro-text_bold.woff2);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

html, body {
  width: 100%;
  height: 100%;
}
#main{
    height: 100%;
    width: 100%;
    background-color: rgb(255, 255, 255);
}
#nav{
    height: 60px;
    width: 100%;
    background-color:rgb(44, 44,44);
display: flex ;
/* align item works on y axis */
align-items: center;  
/* justify content works on x axis */
justify-content: center;
gap: 20px;
}
/* #nav h4 means the h4 items in the navigation bar */
#nav h4{
    color: white;
   font-weight: 400;
}
#center{
    height: 100%;
    width: 100%;
    background-image: url(https://www.apple.com/v/home/ci/images/heroes/iphone-17-pro/hero_iphone_17_pro__bknyzxfk2agi_large.jpg);
    background-size: cover;
    background-position: center;
    text-align: center;
    padding: 50px;
  
}
#center h1{
    color: white;
    font-size: 60px;
    font-weight: 500;
      font-family: apple;
}
#center h5{
    color: white;
    font-size: 40px;
    font-weight: 300;
}
#links{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    padding: 20px;

}
 button{
background-color: royalblue;
color: white;
padding: 10px 20px;
border: none;
border-radius: 50px;
font-size: 20px;
font-weight: 400;
cursor:pointer;

}
#buy-button{
    background-color: rgb(0, 0, 0);
    color:royalblue;
    border: 1px solid royalblue;

}   
#links button:hover{
    background-color: blue;
}
#products button.blue:hover{
     background-color: blue;

}
#products button.buy-button:hover{
    background-color: royalblue;
    color: rgb(255, 255, 255);
    border: 1px solid rgb(255, 254, 254);

}
.buy-button{
     background-color: rgb(247, 247, 247);
    color:royalblue;
    border: 1px solid royalblue;
}
#links #buy-button:hover{
    background-color: white;
    color: black;
}
#products {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
   background-color: #f5f5f7;
padding: 50px;
  gap: 30px;
}
.product {
  background-color: white;
  width: 45%;
  min-width: 350px;
  padding: 40px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 0 15px rgba(0,0,0,0.1);
}
.product h2 {
  font-size: 28px;
  margin-bottom: 10px;
}

.product p {
  color: #555;
  font-size: 16px;
  margin-bottom: 20px;
}

.product img {
  width: 100%;
  max-height: 350px;
  object-fit: contain;
  margin-top: 20px;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 15px;
}



button.blue {
  background-color: #0071e3;
  color: white;
  border: none;
}

